# bkup*/

build
examples

.DS_Store
score.cpp
song.h

*/*.dSYM
*.dSYM
tests/*
!tests/interpolation-test.py
!tests/waveshape-test.py
.todo
/tests/envelope_test.cpp
!/tests/*test*.cpp

/tests/allpass*
/tests/wave_*

rust_dsp.h
rusttest.cpp
librust*
a.out
