# bkup*/
build/
examples/

.DS_Store
*.cpp
*.h
# t.cpp
# fm.cpp
# song.cpp
# score.h

*/*.dSYM
*.dSYM
tests/*
!tests/interpolation-test.py
!tests/waveshape-test.py
.todo
/tests/envelope_test.cpp
!/tests/*test*.cpp

/tests/allpass*
/tests/wave_*
